

<ons-page  ons-show="load_records()" >
    <div class="content" style="text-align: center" ng-controller="RecordsController">
        <ons-button ng-click="startRecording()" ng-disabled="recording">Start Recording</ons-button>
        <ons-button ng-click="stopRecording()" ng-disabled="!recording">Stop</ons-button>
        <ons-list id="record_list">
            <ons-list-item tappable ng-repeat="item in availableRecords"> {{item.name}}</ons-list-item>
        </ons-list>

    </div>


</ons-page>
